{% extends 'base.html' %}

{% block title %}
    <h2 class="text-center mb-4">About Us</h2>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>A hungry man in his chair, he doesn't move, he only stares at the oven across the room.
                    There's nothing there, it's not cooking food. He shakes his head and finally stands up,
                    throws his hands up in the air. A tantalizing aroma fills the room a sudden sizzle, a 
                    flavour boom changes everything he knew. It's everything he's never seen, the tastiest 
                    pizza there's ever been, described in scent upon the air.
                </p>
                <p>He said, "Nobody else is hungrier than I am, feels like I just ran a marathon, I bet I 
                    could eat it daily. I am a mighty pizza fan!" That is the customer experience while ordering
                    from The Daly Slice, expressed in lyrical form. Our delightful ingredients and cookery are
                    a billion flavors expressed as one, etched in taste upon the tongue. It's not recommended
                    to eat pizza every day, but you'll find yourself wanting a daily slice.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-footer">
            <p>&copy; 2024 Killian Daly. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}
